body {
    background-color: rgba(110, 131, 90, 0.25);
}

h1 {
    font-weight: 800;
    background-color: rgb(64, 146, 152);
    margin: 0 auto; /* Centra horizontalmente */
    border: 5px solid black; /* Crea un borde de 5px alrededor del h1 */
    width: 50%; /* Ajusta el ancho al 50% del contenedor */
}

fieldset {
    background-color: beige;
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}
